.input{
    display: flex;
    justify-content: center;
    margin: 30px;
}

input{
    width: 60%;
    padding: 10px;
    border-radius: 3px;
    font-size: medium;
}

.stats{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.button{
    display: flex;
    justify-content: center;
    margin: 5px;
}